@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'fontelogo';
    src: url(_fonts/bubblegum-sans-regular.otf); }

body {
    background-color: #1b1f27;
    font-family: 'Open Sans',sans-serif;
}

#cabecalho {
    border-bottom: 1px black solid;
    padding-bottom: -100px;
}

#cabecalho h1 {
    color:rgba(255, 5, 5, 0.308);
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

#cabecalho h2 {
    display: block;
    font-family: 'fontelogo', sans-serif;
    font-size: 12pt;
    color: #888888;
    padding: -10px;
    margin-top: -25px;
    text-align: center;
}

#icone {
    position: absolute;
    left: 1750px;
    top: 20px;
    height: 64px;
    width: 64px;
}

#rodape {
    position: relative;
    border-top: 1px solid #606060;
    margin-top: 0px;
    padding-bottom: 20px;
}

#rodape p {
    text-align: center;
    color: white;
}

.termos {
    position: absolute;
    display: inline;
    text-align: right;
    width: 97%;
    margin-top: -50px;
}

ul a {
    text-decoration: none;
    color: rgb(252, 252, 252);
}

.itens {
    position: absolute;
    margin-top: -60px;
    margin-left: -20px;
}

.itens li{
    display: inline;
    padding: 10px;
    background-color:#181920;
    margin: 1px;
    border-radius: 10px;
}

.itens :hover {
    background-color: #ff0000;
    color: white;
    text-decoration: underline;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor:pointer;
}

h2 {
    color: white;
    font-size: 12pt;
    font-weight: normal;
    text-indent: 20px;
}

h1,h5 ,h3{
    color: white;
    text-decoration: underline;
}

.corpo {
    display: block;
    background-color: #181920;
    width: 50%;
    border-radius: 10px;
    text-align: left;
    margin-left: 25%;   
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#rodape img {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

button {
    display: block;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #181920;
    color: white;
}

button:hover {
    background-color: transparent;
    text-decoration: underline;
    text-align: right;
    padding: 11px;
}