@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'fontelogo';
    src: url(_fonts/bubblegum-sans-regular.otf); }

* {
    box-sizing:content-box
}

#cabecalho {
    border-bottom: 1px black solid;
    width: 100%;
}

#cabecalho h1 {
    color:rgb(255, 5, 5);
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 10px 10px 10px black;
    text-align: center;
}

#cabecalho h1:hover {
    text-decoration: underline;
}

#cabecalho h2 {
    display: block;
    font-family: 'fontelogo', sans-serif;
    font-size: 12pt;
    color: #888888;
    padding: -10px;
    margin-top: -25px;
    text-align: center;
}

body {
    background-color: #1b1f27;
    overflow: hidden;
}

#rodape {
    position: relative;
    border-top: 1px solid #606060;
}

#rodape p {
    text-align: center;
    color: white;
}

#icone {
    position: relative;
    float: right;
    height: 64px;
    width: 64px;
    margin-right: 20px;
}

.itens {
    position: absolute;
    margin-top: -60px;
    margin-left: -20px;
}

.itens li{
    display: inline;
    padding: 10px;
    background-color:#181920;
    margin: 1px;
    border-radius: 10px;
    transition: padding .3s linear;
}

.itens :hover {
    padding: 15px ;
    color: white;
    text-decoration: underline;
}

.termos {
    position: absolute;
    display: block;
    text-align: right;
    margin-left: calc(100% - 300px);
    top: -5px;
}

li a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

ul a {
    text-decoration: none;
    color: rgb(252, 252, 252);
}

#rodape img {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 10px;
}

table {
    color: white;
    width: 90%;
    border: 1px solid black;
    background-color: #181920;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

td {
    padding: 10px;
    border-right: 1px solid black;
}

td :hover {
    text-decoration: underline;
}

.full {
    padding: 10px;
    border-top: 1px solid black;
}

span {
    padding-left: 25px;
}

.borda-left {
    border-right:1px solid black;
}

thead {
    text-decoration: underline;
}

.input-group {
    display: flex;
    justify-content:center;
    color: #FFF;
    margin-bottom: 30px;
    position: relative;
    padding: 30px;
}

input {
    border-radius: 10px;
}

label {
    padding: 10px;

}

input#Number, 
input#number, 
input#nome {
    margin-right: 10px;
    margin-left: 10px;
}

#btnCheckfalse {
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 25px;
    background-color: rgb(185, 35, 35);
    font-size: 10pt;
    text-decoration: none;
    font-family: 'fotologo' bolder;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s linear;
    border-radius: 20px;
    margin-left: 10px;
}

#copy {
    align-items: center;
    border: none;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 25px;
    background-color: rgb(0, 0, 0);
    font-size: 10pt;
    font-family: 'fotologo' bolder;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s linear;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#btnCheckfalse:hover , #copy:hover {
    background-color: white;
    color: black;
    border : 1px solid
}

#total {
    text-align: center;
    width: 200px;
    font-size: 20pt;
    padding: 25px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-family: Impact, sans-serif;
    background-color: rgba(0, 128, 0, 0.616);
    border-radius: 20px;
}

#nav {
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
}

a.tiktok, a.insta {
    text-decoration: none;
}

a.tiktok:hover, a.insta:hover {
    text-decoration: underline;
}

a.tiktok:visited, a.insta:visited {
    color: #ff0000;
}

div.segment {
    display: none;
}

/* tira a barra de rolagem do type number */

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

/* responsividade*/

@media(min-width:750px) and (max-width: 1150px) {

    #cabecalho, #cabecalho h2, #cabecalho h1, #icone {
        display: none;
    }

    label {
        font-size: 15px;
    }

    #btnCheckfalse,
    #copy,
    #total {
        padding: 15px;
    }

    footer {
        margin-top: 200px;
    }
}

@media (max-width:749px) {

    #cabecalho, #cabecalho h2, #cabecalho h1, #icone {
        display: none;
        flex-direction: column;
    }

    label {
        font-size: 10px;
    }

    #btnCheckfalse,
    #copy,
    #total {
        padding: 10px;
    }

    footer {
        margin-top: 200px;
    }

    body {
        overflow: scroll;
    }
}